@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
    display: none;
}

.circle-stroke {
    stroke-linecap: round;
}

.drop-shadow-good {
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.884);
}